<h1>Welcome to the Movie App</h1>
  
  <button id="actionBtn" onclick="filterMovies('action')">Action</button>
  <button id="thrillerBtn" onclick="filterMovies('thriller')">Thriller</button>
  <button id="horrorBtn" onclick="filterMovies('horror')">Horror</button>
  <button id="comedyBtn" onclick="filterMovies('comedy')">Comedy</button>
  <button id="romanceBtn" onclick="filterMovies('romance')">Romance</button>
  
  <div id="movieContainer"></div>

